# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.spec

# Project files
workspace.xml
misc.xml
modules.xml
profiles_settings.xml
*.iml